<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>if-github</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GH_PACKAGE_TOKEN}</password>
        </server>
        <server>
            <id>${env.DEPLOY_SERVER_ID}</id>
            <username>${env.DEPLOY_SERVER_USERNAME}</username>
            <password>${env.DEPLOY_SERVER_TOKEN}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>if-github</id>
                    <name>IsyFact Standards</name>
                    <url>https://maven.pkg.github.com/IsyFact/isyfact-standards</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>if-github</id>
                    <name>IsyFact BOM</name>
                    <url>https://maven.pkg.github.com/IsyFact/isyfact-bom</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>if-github</id>
                    <name>Isy Web</name>
                    <url>https://maven.pkg.github.com/IsyFact/isy-web</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
</settings>
